body{

}
header {
    background-color: black;
}
nav{
    display: inline-block;
    text-align: center;
}
ul {
    text-align: center;
    list-style: none;

}
h1, p {
    text-align: center;
    color: white;
}
button{
    text-align: center;
}
