body{
background-color: green;
}
header {
    background-color: black;
}
nav{
        text-align: center;
}
ul {
    text-align: center;
    list-style: none;

}
h1, p {
    text-align: center;
    color: white;
}
button{
    text-align: center;
}
h2{

}



footer{
    background-color: blue;
}
