$color-background: #0f3e57;

body {}

header {
    background-color: black;
    height: 20em;

    ul {
        text-align: center;
        list-style: none;
    }

    h1,
    p {
        text-align: center;
        color: white;
    }

    button {
        display: block;
        margin: 3em auto auto;
        height: 4em;
        width: 15em;
    }
}

nav {
    text-align: center;

    li {
        display: inline;
        padding: 2em;
    }
}

img {
    box-shadow: 5px 5px 0 #aaa;
}

.os {
    color: yellow;
}

h2 {
    text-align: center;
    margin: 9 2 0 0;
}

h3,
h5,
p {
    padding-left: 1.5rem;
}

input {
    width: 50%;
}

footer {
    background-color: $color-background;
    height: 15em;

    h6 {
        color: white;
    }

    ul {
        padding-left: 0;

        li {
            color: grey;
            list-style: none;
        }
    }

    button {
        background-color: $color-background;
        border: 1px solid grey;
        border-radius: 5px;
        height: 2em;
        color: grey;
    }
}
